/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content .logo {
    height: 50px;  /* Adjust size of the logo */
    margin-right: 20px; /* Space between logo and title */
}

.header-title h1 {
    margin: 0;
    font-size: 2rem;
}

/* Container for the main content */
.container {
    margin: 20px;
}

/* Styles for form elements */
label {
    font-size: 1.2rem;
}

select, input[type="text"], textarea {
    padding: 8px;
    font-size: 1rem;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Button styles */
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Table styles */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Error message styling */
.error {
    color: red;
    font-weight: bold;
}

/* Simple CSS spinner */
#loading-spinner {
    display: none;
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* JSON View: Preserve JSON formatting */
#json-table td {
    white-space: pre-wrap;   /* Ensures the JSON wraps properly */
    word-wrap: break-word;   /* Handles long words or strings */
    font-family: monospace;  /* Use monospaced font for JSON */
    font-size: 1rem;         /* Font size */
    text-align: left;        /* Align text to the left */
}

/* decrease the font size for the footer, and make the color lighter */
footer {
    font-size: 0.8rem;
    color: #666;
    text-align: center;
    margin-top: 20px;
}
